


body {
    background-image: url("../images/2e711f7ea7ae235f34ba1b14e9edfa08.gif");
    background-size: 350px;
    font-family: 'Overpass', sans-serif;
}

h1 {
    text-align: center;
    font-size: 50px;
    background-color: #5fe9ea;
    width: 716px;
    margin: 0 auto;
    height: 75px;
    margin-bottom: 15px;
    border-radius: 50px;
    border: 8px solid black;
    font-family: 'Sigmar One', cursive;
    padding: 0px 7px 7px 7px;
}

#container {
    background-color: #5fe9ea;
    height: 600px;
    width: 700px;
    margin: 0 auto;
    border: 8px solid black;
    border-radius: 7px;
    position: relative;
}

#timer {
    background-color: black;
    opacity: .9;
    color: whitesmoke;
    text-align: center;
    font-size: 25px;
    /* font-family: 'Overpass', sans-serif; */
}

#question {
    font-size: 35px;
    padding: 0px 15px 35px 15px;
    background-color: black;
    color: #fff578;
    opacity: .9;
    width: 677px;
    margin: 0px 10px 40px 10px auto;
    /* font-family: 'Overpass', sans-serif; */
   
}

.question-button {
   
    width: 450px;
    height: 60px;
    margin: 15px;
    font-size: 25px;
    border-radius: 5px;
    text-align: center;
    display: block;
    background-color: #fd8fff;
    margin: 20px auto;
    border: 3px solid #fff578;
    /* font-family: 'Overpass', sans-serif; */
 

    
}

.question-button:hover {
    background-color: #fff578;
    border: 3px solid #fd8fff;
}

/* correct-incorrect slide */
#correct-incorrect {
    background-color: #5fe9ea;
    height: 525px;
    width: 700px;
    margin: 0 auto;
    border: 8px solid black;
    border-radius: 7px;
    position: relative;

}

#image-space {
   text-align: center;
}

img {
   border: 10px solid black;
   border-radius: 8px;
   margin: 20px;
}

#message {
    font-size: 30px;
    padding: 15px;
    height: 175px;
    padding-bottom: 35px;
    background-color: black;
    color: #fff578;
    opacity: .9;
    width: 677px;
    margin: 10px 10px 40px 10px auto;
    font-family: 'Overpass', sans-serif;
}

/* end game slide */

.start-over-button {
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
    display: block;
    background-color: #fd8fff;
    margin: auto;
    margin-top: 16px;
    border: 3px solid #fff578;
}

.start-over-button:hover {
    background-color: #fff578;
    border: 3px solid #fd8fff;
}

/* game start */
.start-button {
    width: 450px;
    height: 60px;
    font-size: 25px;
    border-radius: 5px;
    text-align: center;
    display: block;
    background-color: #fd8fff;
    margin: 20px auto;
    border: 3px solid #fff578;
    font-family: 'Overpass', sans-serif;
}
.start-button:hover {
    background-color: #fff578;
    border: 3px solid #fd8fff;
}

/* media queries */

@media screen and (max-width: 755px) {
 h1 {
    font-size: 47px;
    width: 700px;
 }
}

@media screen and (max-width: 755px) {
    h1 {
        font-size: 40px;
        width: 610px;
     }
     #container {
        height: 700px;
        width: 600px;
    }
    #question {
        font-size: 35px;
        width: 577px;
        margin: 0px 10px 40px 10px auto; 
    }
    #correct-incorrect {
        height: 600px;
        width: 600px;
       
    }

    #message {
        font-size: 25px;
        height: 250px;
        width: 577px;
    }

    .start-over-button {
        
        margin-top: 30px;
        
    }
}
    
    @media screen and (max-width: 645px) {
        h1 {
            font-size: 35px;
            width: 510px;
         }
         #container {
            height: 600px;
            width: 500px;
        }
        #question {
            font-size: 25px;
            width: 477px;
        }
        #correct-incorrect {
            height: 525px;
            width: 500px;
           
        }
    
        #message {
            font-size: 20px;
            height: 175px;
            width: 477px;
        }
        .start-over-button {
            margin-top: 20px;
        }
    }

    @media screen and (max-width: 545px) {
        h1 {
            font-size: 28px;
            width: 410px;
            padding-top: 20px;
         }
         #container {
            height: 500px;
            width: 400px;
        }
        #question {
            font-size: 20px;
            width: 377px;
        }
        #correct-incorrect {
            height: 400px;
            width: 400px;
        }
    
        #message {
            font-size: 16px;
            height: 125px;
            width: 377px;
        }
        .start-over-button {
            margin-top: 20px;
            width: 110px;
            height: 40px;
            font-size: 16px;
        }

        .question-button {
            width: 310px;
            height: 50px;
            margin: 15px;
            font-size: 20px;
            margin: 20px auto;  
        }

        img {
            width: 320px;
            margin: 5px;
         }
         .start-button {
            width: 310px;
            height: 50px;
            font-size: 20px;
            margin: 20px auto;
            
        }
    }

        @media screen and (max-width: 445px) {
        h1 {
            font-size: 24px;
            width: 310px;
            padding-top: 20px;
         }
         #container {
            height: 500px;
            width: 300px;
        }
        #question {
            font-size: 16px;
            width: 277px;
        }
        #correct-incorrect {
            height: 360px;
            width: 300px;
        }
    
        #message {
            font-size: 12px;
            height: 125px;
            width: 277px;

        }
        .start-over-button {
            margin-top: 20px;
            width: 100px;
            height: 40px;
            font-size: 16px;
        }

        .question-button {
            width: 250px;
            height: 45px;
            margin: 15px;
            font-size: 16px;
            margin: 20px auto;  
        }
        
        img {
            width: 250px;
            margin: 5px;
        }
        .start-button {
            width: 250px;
            height: 45px;
            font-size: 16px;
            margin: 20px auto;
            
        }
    }
   


    
